@media only screen and (min-device-width: 480px) and (max-device-width: 680px) {

  .section_for_selection {

    .section_for_selection_title {
      text-align: center;
    }

    .section_for_selection_items {
      height: auto;

      .section_for_selection_items_arrow_prev,
      .section_for_selection_items_arrow_next {
        display: none;
      }

      .section_for_selection_items_collection {
        width: 100%;
        display: inline-block;

        .section_for_selection_items_collection_item {

          .section_for_selection_items_collection_item_my_slide {
            margin: 15px;
            position: relative;
            display: inline-block;

            img {
              object-fit: cover;
              width: 280px;
              height: 284px;
              max-width: 100%;
            }

            .section_for_selection_items_collection_item_my_slide_price {
              width: 100%;
              bottom: 4px;
              height: 30px;
              opacity: 0.8;
              position: absolute;
              background-color: #8ae6cf;

              span {
                line-height: 32px;
                color: #2c303d;
                font-size: 20px;
                font-weight: 700;
                letter-spacing: 1.65px;
              }

            }

          }

        }

      }

    }

  }

}